<div class="ui two column centered grid">
    <div id="nav" class="ui equal width centered grid">
        <div class="column aligned">
            <a data-nav="nav" class="massive ui button" href="/buy">
                Buy
            </a>
        </div>
        <div class="column aligned">
            <a data-nav="nav" class="massive ui button" href="/sell">
                Sell
            </a>
        </div>
        <div class="column aligned">
            <a data-nav="nav" class="massive ui button" href="/play">
                Play
            </a>
        </div>
    </div>
</div>

