#home-buttons {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90vw;
  height: 20vh;
}
#home-buttons .segment, #home-buttons .button {
  height: 100%;
  line-height: 3em;
}


.home-buttons-icon {
  margin-left: 4px !important;
  font-size: 2rem !important;
}

input-custom {
  width : 100%;
}

input-custom input {
  width : 100% !important;
  padding-left: 2.5em !important;
}

.error {
  color: red;
}

.hidden {
  display: none !important;
}

.hidden {
  display: block;
}
